body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#root {
  height: 100%;
}
#reader-mode-button {
  display: block !important;
  visibility: visible !important;
}
* ::-webkit-scrollbar{
  display: none;
}